.orbit-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/*Kinda annoying that I have to match the $top with the .orbit-circle, maybe theres a better way*/
.center-component {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


@media (max-width: 768){
    .orbit-container {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
}

.orbit-circle {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: rotate(calc(360deg * var(--i) / var(--total))) translateX(var(--orbit-radius));
  transform-origin: 0 0;
  animation: rotate 50s linear infinite;
}



.orbit-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 50s linear infinite;
}
@media (max-width: 1024px) {
  .orbit-circle {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .orbit-circle {
    width: 10vw;
    height: 5vh;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(calc(360deg * var(--i) / var(--total))) translateX(var(--orbit-radius));
  }
  100% {
    transform: rotate(calc(360deg * var(--i) / var(--total) + 360deg)) translateX(var(--orbit-radius));
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


