.orbit-container {
  position: relative;
  width: 400px;
  height: calc(var(--orbit-radius) * 2 + 300px);
  margin: 0 auto;
}

.center-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.orbit-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform-origin: 0 0;
  animation: rotate 50s linear infinite;
}

.orbit-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 50s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(calc(360deg * var(--i) / var(--total))) translateX(var(--orbit-radius));
  }
  100% {
    transform: rotate(calc(360deg * var(--i) / var(--total) + 360deg)) translateX(var(--orbit-radius));
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .orbit-container {
    width: 90vw;
    height: calc(var(--orbit-radius) * 2 + 150px);
  }

  .orbit-circle {
    width: 10vw;
    height: 10vw;
  }
}
